*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}


#app{
    display: flex;
    margin:auto;
}

.jours{
    display: flex;
    border:1px solid purple;
}
.hobbies{
    border:1px solid purple;
    padding: 0.8px;
}
.blt> input{

    width:15%;
}
.blt{
    border:1px solid magenta;
    flex-wrap: wrap;
}
